body{
    background:
    adial-gradient(#727173 3px, transparent 4px),
    radial-gradient(#727173 3px, transparent 4px),
    linear-gradient(#a09ea1 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #727173 75px, #727173 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #727173 76px, #727173 77px, transparent 78px, transparent 109px),
    #a09ea1;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.caja {
    margin: 10%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: aquamarine;
}

.t {
    font-family: 'Lobster', cursive;
}