* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    /*-----------Patron de Fondo------------*/
    font-family: "Advent Pro", sans-serif;
    background:
        radial-gradient(#727173 3px, transparent 4px),
        radial-gradient(#727173 3px, transparent 4px),
        linear-gradient(#a09ea1 4px, transparent 0),
        linear-gradient(45deg, transparent 74px, transparent 75px, #727173 75px, #727173 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, #727173 76px, #727173 77px, transparent 78px, transparent 109px),
        #a09ea1;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.body-main {
    /*background-color: #5e6477;*/
    margin-top: 10px;
    margin-left: 93px;
    margin-right: 10px;
    max-width: 95vw;
    padding: 10px;
    align-items: center;
}

.content {

    width: 100%;
    display: grid;
    grid-template-rows: 2fr;
    row-gap: 10px;

}

/*----Clasesflex-----*/

.flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flexbox {
    display: flex;
    justify-content: center;


}

/*-----------------------*/
/*--  Baner Slider     --*/
/*-----------------------*/

.slider {
    position: relative;
    display: block;
    min-width: 100%;
    height: 40px;
    margin: 0px auto 0px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.slide {
    position: absolute;
    display: block;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100%;
    height: 100%;
}

.slide span {
    color: rgba(202, 202, 198, 0.7);
    display: inline-block;
    padding-left: 100%;
    text-align: center;
    white-space: nowrap;
    min-width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 18px;
    animation: scroll 30s linear infinite;
}

.slide2 span {
    color: rgba(202, 202, 198, 0.7);
    animation-delay: 15s;
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 205px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.gallery__item:nth-child(1) {
    grid-row-start: span 3;
}

.gallery__item:nth-child(2) {
    grid-row-start: span 3;
}

.gallery__item:nth-child(3) {
    grid-row-start: span 3;
}

.modal-body{
    text-align: center;
}

.futer {
    position: absolute;
    bottom: 0;
    background-color: rgb(42, 43, 43);
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-rows: 2fr;
    padding: 5px;
}

.futer-Contenedor {
    padding: 3px;
}

.social-Icons {
    margin-right: 10px;
}

.footer-ico {
    width: 25px;
    padding: 5px;
}

.creditos {
    color: aliceblue;
    text-align: center;
    font-size: 14px;
    height: 50px;


}

.creditos>p {
    height: 20px;
    margin: 0;
}

.micolor {
    background-color: hsl(0, 1%, 13%);
    color: antiquewhite;
}

@media screen and (max-width:1912px) and (min-width:1025px) {

    .gallery__item:nth-child(1) {
        display: initial;
    }

    .gallery__item:nth-child(2) {
        grid-row-start: span 3;
    }

    .gallery__item:nth-child(3) {
        grid-row-start: span 3;
    }
}

@media screen and (max-width:1024px) and (min-width:768px) {
    .gallery-container {

        grid-auto-rows: 180px;
    }

    .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .gallery__item:nth-child(1) {

        grid-column-start: span 1;

    }

    .gallery__item:nth-child(2) {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }

    .gallery__item:nth-child(3) {
        display: none;
    }

}




@media screen and (max-width:767px) {
    #navbar:hover {
        width: 12em;
    }

    .navbar-item .submenu {
        left: 190px;
    }

    .navbar-item:hover .submenu {
        width: 7em;

    }

    @keyframes mymove {
        0% {
            width: 0px;
        }

        100% {
            width: 6em;
        }
    }

    .gallery-container {

        grid-auto-rows: 85px;

    }

    .gallery__item:nth-child(1) {
        display: initial;
        grid-column-start: span 3;

    }

    .gallery__item:nth-child(2) {
        grid-column-start: span 3;
    }

    .gallery__item:nth-child(3) {
        display: none;
    }

    .creditos {
        text-align: end;
        font-size: 9px;
        height: 50px;
    }
}