/*--------------------------------*/
/*--       Barra Lateral        --*/
/*--------------------------------*/
#navbar {
    top: 0;
    padding: 0;
    width: 5em;
    height: 100vh;
    position: fixed;
    background-color: hsl(256, 12%, 12%);
    transition: width .45s cubic-bezier(.175, .685, .32, 1);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 5;

}

#navbar:hover {
    width: 16em;

}

/* Navbar Items*/

.navbar-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Navbar Logo*/
.navbar-logo {
    margin: 0 0 2em 0;
    width: 100%;
    height: 5em;
    background-color: dimgrey;
    

}

.img-logo {
    width: 48px;
}

/* Navbar Iconos*/
.ion-icon {
    width: 20px;

}

.navbar-item {
    padding: 0 .5em;
    width: 100%;
    cursor: pointer;
}

.navbar-item-inner {
    margin: 5px 15px 5px 10px;
    padding: 1em 0;
    width: 100%;
    position: relative;
    color: hsl(0, 0%, 50%);
    border-radius: .25em;
    text-decoration: none;
    transition: all .2s cubic-bezier(.175, .685, .32, 1);
}

.navbar-logo>.navbar-item-inner:hover {
    background-color: transparent;
}

.navbar-item-inner:hover {
    color: hsl(0, 0%, 100%);
    background: hsl(257, 11%, 16%);
    box-shadow: 0 17px 30px -10px hsla(0, 0%, 0%, .25);

}

.navbar-item-inner-icon-wrapper {
    width: calc(5rem - 1em - 8px);
    position: relative;
}

.link-text {
    margin: 0;
    width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .35s cubic-bezier(.175, .685, .32, 1);
    overflow: hidden;
    opacity: 0;
}

#navbar:hover .link-text {
    width: calc(100% - calc(5rem - 8px));
    opacity: 1;
}

/*-------------------------*/
/*--Submenu Barra Lateral--*/
/*-------------------------*/

.navbar-item .submenu {
    text-decoration: none;
    list-style: none;
    display: none;
    padding: 5;
    left: 250px;
    position: fixed;
    color: hsl(0, 0%, 50%);
    background-color: hsl(256, 12%, 12%);

}

.navbar-item:hover .submenu {
    display: inline-block;
    width: 8em;
    animation-name: mymove;
    animation-duration: 0.5s;

}

.link-texta {
    overflow: hidden;
}

@keyframes mymove {
    0% {
        width: 0px;
    }

    100% {
        width: 8em;
    }
}

/*----Clasesflex-----*/

.flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flexbox {
    display: flex;
    justify-content: center;
}
form input{
    display: block;
    margin: 0 0 20px;
    padding: 10px 15px;
    width: 40%;
}
