.men {
text-align: center;
align-items: center;
font-size: 25px;
color: #0b4264;
}

.women {
  text-align: center;
  align-items: center;
  font-size: 25px;
  color: #0b4264;
  }

  .kids {
    text-align: center;
    align-items: center;
    font-size: 25px;
    color: #0b4264;
    }
    
.banner {
    display: flex; /* Usa flexbox para alinear las imágenes horizontalmente */
    overflow: hidden; /* Oculta las partes de las imágenes que sobresalen del contenedor */
  }
  
  .banner-img {
    width: 60%; /* Ajusta el ancho de las imágenes al 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    transition: transform 0.5s ease-in-out; /* Efecto de transición suave */
  }
  
  .banner-img:hover {
    transform: scale(1.3); /* Aumenta ligeramente el tamaño de la imagen al pasar el cursor */
  }