* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  color-scheme: light dark;
}
html {
  height: 100%;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
  background-color: var(--background-color);
}

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgb(29, 1, 1);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}
.header {
  grid-area: header;
  /* background-color: antiquewhite; */
}
.navbar {
  grid-area: navbar;
  /* background-color: aqua; */
}
.main {
  grid-area: main;
  /* background-color: aquamarine; */
}
.sidebar {
  grid-area: sidebar;
  /* background-color: blue; */
  /* text-align: center; */
  overflow: auto;
}
.footer {
  grid-area: footer;
  /* background-color: brown; */
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header" 100px
    "navbar" 100px
    "main" auto
    "sidebar" 300px
    "footer" 100px;
}
@media (min-width: 600px) {
  .grid-container {
    /* background-color: blue; */
    /* grid-template-areas:
      "header  header"
      "navbar  navbar"
      "sidebar main"
      "footer  footer";
    grid-template-columns: 200px auto;
    grid-template-rows: 100px 50px auto 100px; */

    grid-template:
      "header  header" 100px
      "navbar  navbar" 100px
      "sidebar main" 300px auto
      "footer  footer" 100px /
      200px auto;
  }
}
@media (min-width: 900px) {
  .grid-container {
    /* background-color: blue; */
    /* grid-template-areas:
        "header  header"
        "navbar  navbar"
        "sidebar main"
        "footer  footer";
      grid-template-columns: 200px auto;
      grid-template-rows: 100px 50px auto 100px; */

    grid-template:
      "header  header header" 100px
      "navbar  main sidebar" auto
      "footer  footer footer" 100px /
      200px auto 300px;
  }
}
img {
  width: 100%;
  max-width: 300px;
  /* object-fit: cover;
  object-position: bottom; */
}
.tamaño50 {
  width: 50px;
  height: 50px;
  margin: 5px;
}
form {
  width: 350px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #ccc;
}

form label {
  width: 72px;
  font-weight: bold;
  display: inline-block;
  padding: 3px;
  margin: 12px;
}

form input[type="date"] {
  padding: 10px;
}
form input[type="text"],
form input[type="email"],
form input[type="checkbox"],
form input[type="radio"] {
  width: 180px;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.192);
  margin: 10px 0;
  display: inline-block;
}
form input[type="text"]:hover {
  background-color: black;
}

form input[type="email"]:hover {
  background-color: black;
}

form input[type="submit"],
form input[type="reset"] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000;
}

form input[type="submit"],
form input[type="reset"]:hover {
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.192);
  margin: 8px 0;
  /*resize: vertical | horizontal | none | both*/
  resize: none;
  display: block;
}
textarea:hover {
  background-color: black;
}
form label {
  width: 72px;
  font-weight: bold;
  display: inline-block;
  /* padding: 8px; */
}
.centrado {
  text-align: center;
  /* font-size: 1.5rem;
    color: rgb(179, 17, 219); */
}
iframe {
  padding: 10px;
}
nav {
  text-align: center;
  /* background-color: orangered; */
}
nav ul {
  /* espacio alrededor del elemento html segun el modelo de caja  */
  padding: 6px;
}

nav ul li {
  /* cambia la orientacion de la etiqueta a modo en linea y en bloque  */
  display: inline-block;
  /* aplica un borde de 6px de ancho, de estilo inset y del color rgb  */
  border: 6px inset rgb(242, 137, 45);
  /* aplica un redondeo al borde: 0px-sin redondeo 25px-redondeo máximo  */
  border-radius: 10px;
  /* espacio alrededor del elemento html segun el modelo de caja  */
  padding: 6px;
  /* espacio de margen afuera del borde del elemento html segun el modelo de caja  */
  margin: 8px;
  background-color: rgb(213, 198, 218);
}
nav ul li a {
  /* quita el subrayado de los enlaces a  */
  text-decoration: none;
  /* familia de la fuente  */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* Pseudo Clase que cambia cuando el mouse esta encima del elemento  */
li:hover {
  background-color: rgb(247, 195, 131);
  /* estilo de fuente en Negrita  */
  font-weight: bold;
}
/* Pseudo Clase que cambia cuando hacemos clic con el mouse encima del elemento  */
a:active {
  color: rgb(255, 255, 255);
}
